@import 'mixin.scss'; 

.navbar {
    width: $navbar-width;
  
    @include responsive('small') {
      width: 70px;
  
      .navlinks ul li a {
        font-size: 12px;
        padding: 5px;
      }
  
      .pdp img {
        width: 120px;
        height: 120px;
      }
    }
  }
  
  .containt {
    margin-left: $navbar-width+20;
  
    @include responsive('small') {
      margin-left: 80px;
      padding: 10px;
    }
  }
  
  h1 {
    font-size: 2rem;
  
    @include responsive('small') {
      font-size: 1.5rem;
    }
  }
  
  p {
    font-size: 1.2rem;
  @include responsive('small')
     {
      font-size: 0.8rem;
    }
  }

.contact-form{
  @include responsive('small'){
  width:$navbar-width -300;
  margin-left: $navbar-width - 300;
  & label {
    display: block;
    margin: 10px 0 5px;
}
& input,
& textarea {
    width: 100px;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
  }
  @include responsive('medium'){
    width:$navbar-width;
    margin-left: $navbar-width - 300 ;
    & label {
      display: block;
      margin: 10px 0 5px;
  }
  & input,
  & textarea {
      width: 500px;
      padding: 8px;
      margin-bottom: 10px;
      box-sizing: border-box;
  }
  }
  @include responsive('large'){
    width:$navbar-width;
    margin-left: $navbar-width - 300;
    & label {
      display: block;
      margin: 10px 0 5px;
  }
  & input,
  & textarea {
      width: 800px;
      padding: 8px;
      margin-bottom: 10px;
      box-sizing: border-box;
  }
  }
}